<div class="max-w-sm max-w-md rounder shadow-lg my-2 mx-auto">
  <img class="w-full" src="assets/images/Uncle_Bob.png" alt="Sunset in the mountains">
  <div class="px-6 py-4 text-center">
    <div class="font-bold text-xl mb-2">{{ userData.firstName }} {{  userData.lastName }}</div>
    <div class="text-gray-700 text-base">
      <p class="mb-2">This is some info about {{ userData.firstName }} {{  userData.lastName  }}</p>
      <p class="mt-5 font-semibold">{{  userData.phone  }}</p>
    </div>
  </div>
  <div class="px-6 pt-4 pb-2 text-center">
    <p class="text-gray-700"> <span class="font-semibold"> {{ userData.age }} </span> years</p>
  </div>
</div>
